<%= form_with(model: seeking, local: true) do |form| %>
  <% if seeking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(seeking.errors.count, "error") %> prohibited this seeking from being saved:</h2>

      <ul>
      <% seeking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :gender_id %>
    <%= form.text_field :gender_id %>
  </div>

  <div class="field">
    <%= form.label :match_person_id %>
    <%= form.text_field :match_person_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
