<%= form_with(model: connection, local: true) do |form| %>
  <% if connection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(connection.errors.count, "error") %> prohibited this connection from being saved:</h2>

      <ul>
      <% connection.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :requestee_id %>
    <%= form.text_field :requestee_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
