<%= form_with(model: connection_request, local: true) do |form| %>
  <% if connection_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(connection_request.errors.count, "error") %> prohibited this connection_request from being saved:</h2>

      <ul>
      <% connection_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :requester_id %>
    <%= form.text_field :requester_id %>
  </div>

  <div class="field">
    <%= form.label :requestee_id %>
    <%= form.text_field :requestee_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
