<%= form_with(model: compatibility, local: true) do |form| %>
  <% if compatibility.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(compatibility.errors.count, "error") %> prohibited this compatibility from being saved:</h2>

      <ul>
      <% compatibility.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :dealbreaker %>
    <%= form.check_box :dealbreaker %>
  </div>

  <div class="field">
    <%= form.label :rating %>
    <%= form.number_field :rating %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_area :notes %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
