<p id="notice"><%= notice %></p>

<h1>Compatibilities</h1>

<table>
  <thead>
    <tr>
      <th>Dealbreaker</th>
      <th>Rating</th>
      <th>Notes</th>
      <th>Match person 1</th>
      <th>Match person 2</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @compatibilities.each do |compatibility| %>
      <tr>
        <td><%= compatibility.dealbreaker %></td>
        <td><%= compatibility.rating %></td>
        <td><%= compatibility.notes %></td>
        <td><%= link_to compatibility.match_person_1.name, match_person_path(compatibility.match_person_1.id) %></td>
        <td><%= link_to compatibility.match_person_2.name, match_person_path(compatibility.match_person_2.id) %></td>
        <td><%= link_to 'Show', compatibility %></td>
        <td><%= link_to 'Edit', edit_compatibility_path(compatibility) %></td>
        <td><%= link_to 'Destroy', compatibility, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Compatibility', new_compatibility_path %>
