<p>
  <strong>Name:</strong>
  <%= link_to match_person.name, match_person_path(match_person) %>
</p>

<p>
  <strong>Email:</strong>
  <%= match_person.email %>
</p>

<p>
  <strong>OKC:</strong>
  <%= match_person.okc %>
</p>

<p>
  <strong>FB:</strong>
  <%= match_person.fb %>
</p>

<p>
  <strong>LI:</strong>
  <%= match_person.li %>
</p>

<p>
  <strong>Age:</strong>
  <%= match_person.age %>
</p>

<p>
  <strong>Age range:</strong>
  <%= match_person.acceptable_range %>
</p>


<p>
  <strong>Occupation:</strong>
  <%= match_person.occupation %>
</p>

<p>
  <strong>Location:</strong>
  <%= match_person.location %>
</p>

<p>
  <strong>Gender:</strong>
  <%= match_person.gender.name %>
</p>

<p>
  <strong>Seeking Genders:</strong>
  <%= match_person.seeking_genders %>
</p>

<p>
  <strong>Openness (1=monogamous, 5=non-monogamous:</strong>
  <%= match_person.openness %>
</p>

<p>
  <strong>Asexual or Aromantic?:</strong>
  <%= match_person.identities %>
</p>

<p>
  <strong>Current partners:</strong>
  <%= match_person.current_partners %>
</p>

<p>
  <strong>Situation:</strong>
  <%= match_person.situation %>
</p>

<p>
  <strong>Kids:</strong>
  <%= match_person.kids %>
</p>

<p>
  <strong>Ask first:</strong>
  <%= match_person.ask_first %>
</p>

<p>
  <strong>Keep dating:</strong>
  <%= match_person.keep_dating %>
</p>

<p>
  <strong>Only strong match:</strong>
  <%= match_person.only_strong_match %>
</p>

<p>
  <strong>Num matches:</strong>
  <%= match_person.num_matches %>
</p>

<p>
  <strong>Important:</strong>
  <%= match_person.important %>
</p>

<p>
  <strong>Disappointments:</strong>
  <%= match_person.disappointments %>
</p>

<p>
  <strong>Date activities:</strong>
  <%= match_person.date_activities %>
</p>

<p>
  <strong>Murphyjitsu:</strong>
  <%= match_person.murphyjitsu %>
</p>

<p>
  <strong>Incompatible:</strong>
  <%= match_person.incompatible %>
</p>

<p>
  <strong>Continue matching:</strong>
  <%= match_person.continue_matching %>
</p>

<p>
  <strong>Anything else:</strong>
  <%= match_person.anything_else %>
</p>

<p>
  <strong>Notes:</strong>
  <%= match_person.notes %>
</p>