<%= form_with(model: privacy_group, local: true) do |form| %>
  <% if privacy_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(privacy_group.errors.count, "error") %> prohibited this privacy_group from being saved:</h2>

      <ul>
      <% privacy_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :owner_id %>
    <%= form.text_field :owner_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
