<%= form_with(model: privacy_group, local: true) do |form| %>
  <% if privacy_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(privacy_group.errors.count, "error") %> prohibited this privacy_group from being saved:</h2>

      <ul>
      <% privacy_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <%= hidden_field(:privacy_group, :owner_id, value: current_user.id) %>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>

<% if params[:action] == "edit"  %>
  <% @eligible_non_members.each do |user_id, name| %>
    <%= form_with(model: PrivacyGroupMember.new, local: true) do |form| %>
      <%= name %>

      <div class="field">
        <%= form.hidden_field :privacy_group_id, value: @privacy_group.id %>
      </div>

      <div class="field">
        <%= form.hidden_field :user_id, value: user_id %>
        <%#= form.label :user_id %>
        <%#= form.text_field :user_id, value: user_id %>
      </div>

      <div class="actions">
        <%= form.submit %>
      </div>
    <% end %>
  <% end %>
<% end %>
