<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @privacy_group.name %>
</p>

<%= form_tag profiles_path, method: :get do %>
  <%= text_field_tag :query, params[:query], class: 'form-control', id: "activity_search"  %>
  <%= submit_tag 'Search' %>
<% end %>

<% @privacy_group_members.each do |user| %>
  <div>
    <%= user.name %>
  </div>
<% end %>

<%= link_to 'Edit', edit_privacy_group_path(@privacy_group) %> |
<%= link_to 'Back', privacy_groups_path %>
