<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @privacy_group.name %>
</p>

<%= react_component("PrivacyGroup", { group: @privacy_group, members: @members, member_users: @member_users, eligible_users: @eligible_users }) %>

<%= link_to 'Edit', edit_privacy_group_path(@privacy_group) %> |
<%= link_to 'Back', privacy_groups_path %>
