<!DOCTYPE html>
<html>
  <head>
    <title>Preferences</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <%= link_to 'Reciprocity.io', checks_path, class:"navbar-brand" %>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <% if user_signed_in? %>
            <li class="nav-item active nav-link"><%= link_to current_user[:name], profile_path(current_user.id) %></li>
            <li class="nav-item active nav-link"><%= link_to('Manage Privacy', privacy_groups_path) %></li>
            <li class="nav-item active nav-link"><%= link_to('Connections', connections_path) %></li>
            <li class="nav-item active nav-link"><%= link_to('My Account', edit_user_registration_path) %></li>
            <li class="nav-item nav-link"><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
          <% else %>
            <li class="nav-item active nav-link"><%= link_to('Sign in', new_user_session_path) %></li>
            <li class="nav-item nav-link"><%= link_to('Sign up', new_user_registration_path) %></li>
          <% end %>
          <!-- for putting more stuff in the nav bar
            https://getbootstrap.com/docs/4.0/components/navbar/ -->
      </div>
    </nav>
    <%= yield %>
    <!-- Footer -->
    <footer class="page-footer font-small blue pt-4">

      <!-- Footer Links -->
      <div class="container-fluid text-center">

      <hr>
        <!-- Content -->
      This is an alpha testing version of Reciprocity 2.0.
      <br><br>
      Be aware that anything you put on this alpha site may be deleted at any time.
      <br><br>
      Note that if you create an account, anyone else who creates an account will be able to see your name on the front page.
      <br><br>
      File bugs either in the <a href="https://github.com/sdspikes/reciprocity2/issues">the issues on the GitHub repo</a> or on <a href="https://docs.google.com/document/d/13miL_j8WlWRfbQ0FNo3SKhHRYQm8dTUBJYjU7xV5IR4/edit#heading=h.rmvdkob5bbrz">this doc</a> if you don't have a github account/don't want to bother with making an issue.
      </div>
    </footer>
    <!-- Footer -->
  </body>
</html>
