<!DOCTYPE html>
<html>
  <head>
    <title>Preferences</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% unless current_user %>
      <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>
    <% else %>
      <%= current_user[:name] %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    <% end %>

    <div>hello</div>

    <div><%= current_user[:name] %></div>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
